@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h2 {
  justify-content: center;
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
}

.stars {
  display: inline-flex;
  align-items: center;
}

.star {
  color: #ffc000;
  font-size: 1.5rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary {
  background-color: #f0c040;
  color: #000000;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #ccc solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.product-page-container {
  padding: 20px;
}

.img-large {
  max-width: 100%;
  height: auto;
}

.discounted-price {
  color: #ff0000;
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
}

.loading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.signup-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.password-input {
  margin-bottom: 10px;
}
