.footer {
  background-color: #668362;
  border: 3px solid rgb(59, 61, 58);
  padding: 3px;
  color: white;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 100%;
}

/* Adjust line-height for the text elements */
.contact-us,
.copyright {
  line-height: 1.5; /* Adjust this value as needed */
}

.contact-us p {
  margin: 5px; /* Reset margin to remove extra space */
  padding: 0; /* Reset padding to remove extra space */
}

.contact-email a {
  color: black; /* Set the link color to green */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Add a smooth color transition effect */
}

.contact-email a:hover {
  color: black; /* Change the link color to black when hovering */
}