.product-box {
  border: 3px #000000 solid;
  margin: 1rem;
  width: 300px;
  height: 400px; /* Set a fixed height for all product boxes */
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.35); /* Add a subtle box shadow */
}

.product-box img {
  width: 100%;
  max-width: 100%;
  max-height: 200px; /* Adjust the maximum height as needed */
}

.product-description {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  overflow: auto; /* Add a scroll bar if the content overflows */
  max-height: 100px; /* Limit the maximum height of the description */
}

.product-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: black;
}

.product-description {
  font-size: 0.875rem; /* Adjust font size as needed */
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000; /* Use the sale price color for consistency */
  margin-top: auto; /* Push the price to the bottom */
}

.reviews {
  justify-content: center;
}

.btn-primary {
  background-color: #668362;
}

.btn-primary:hover {
  background-color: #668362; /* Change the background color to green on hover */
  color: #ffffff; /* Change the text color on hover, if needed */
  border: 3px #000000 solid;
  color: black;
}

.product-button {
  margin-top: 0.5rem;
}

