.selected-category-content {
    /* margin-top: 20px; */
    padding: 20px;
    background-color: #f0f0f0; /* Set your desired background color */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the content within the SelectedCategoryContent as needed */
  .selected-category-content h2 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #333;
  }